*{
    background-color: rgb(27, 27, 27);
}
#boardDisplay{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto;
}

.space{
    width: 30px;
    height: 30px;
    background-color: aqua;
}

button{
    background-color: white;
}